/* Reset básico */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.conteiner h1 {
    font-size: 24px;
    font-weight: bold;
}

.conteiner form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.conteiner form input {
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.conteiner form select {
    width: 100%;
    height: 37px;
    border: 2px solid black;
    border-radius: 5px;
}

.conteiner form button {
    width: 120px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.conteiner form button:hover {
    background-color: darkgreen;
}

.lista {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
}

.lista h3 {
    text-align: center;
    font-size: 18px;
}

.lista table {
    display: flex;
    flex-direction: column;
    border-style: solid; 
    width: 500px;
    border-collapse: collapse;
}
.lista table thead {
    width: 100%;
}

.lista table thead th {
    padding: 15px;
    background-color: #f4f4f4;
    border-bottom: 1px solid black;
    text-align: left;
}

table tbody{
    /* width: 300px; */
}

table tbody tr {
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}

table tbody td {
    padding: 10px;
    /* border: solid 1px ; */
}

tbody form button {
    border-radius: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-left: 80px;
    
}

/* Tags não estilizadas (mantidas em comentário) */
/* label {} */
/* section {} */
